{% extends "page_app/global/base.html" %}
{% load static %}

{% block title %}{{ titulo }}{% endblock %}

{% block content %}
<div class="container py-5 mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
      <div class="card shadow-sm">
        <div class="card-body p-4">
          <h3 class="mb-4 text-center">{{ titulo }}</h3>

          <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary w-100 mt-2">Salvar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

